
@{
    ViewBag.Title = "RazorTest";
}

<h2>RazorTest</h2>

@*單行註解*@

@*區塊
    註解*@

@*區段程式*@@*在大括弧裡都是C#*@
@{

    var name = "john";
    string name2 = "mary";
    int Math = 80, Eng = 85, Chi = 95;

    @:歡迎 @name 光臨 @*純文字前加@*@
    <span>歡迎 @name 光臨</span>
    <h2>歡迎 @name2 光臨</h2>
}
<h2>歡迎 @name2 光臨</h2>

@*放大框外的計算加@()*@
<h2>@(Math)+@(Eng)+@(Chi)=@(Math + Eng + Chi)</h2>

@(ViewBag.IsLogin = true)

@if (ViewBag.IsLogin)
{

    @:會員已登入
}
else
{
    <span>會員已登出</span>
}

<hr />

@{
    string[] MarketName = { "瑞豐夜市", "新崛江商圈", "六合夜市", "青年夜市", "花園夜市", "大東夜市", "武聖夜市" };
}
<ul>
    @foreach (var item in MarketName)
    {
        <li>@item</li>
    }
</ul>








