@model IEnumerable<_03View.Models.NightMarket>

@{
    ViewBag.Title = "南部各大夜市";
}

<h2 class="alert-info">南部各大夜市</h2>


<div class="row">
    @foreach (var item in Model)
    {
    <div class="col-md-3  col-xs-6">
        <div class="thumbnail">
            <img src="~/images/@(item.Id).jpg" class="img-thumbnail" />
            <div class="caption">
                <h2>@item.Name</h2>
                <p>@item.Address</p>
                <p><a href=" https://www.google.com/maps/place/@item.Address" target="_blank" class="btn btn-warning">查看地圖</a></p>


            </div>
        </div>
        
    </div>
    }
</div>

