<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <form method="post" action="@Url.Action("Create") "enctype="multipart/form-data">
        請選擇要上傳的檔案:
        <input id="File1" type="file" name="photo"/>
        <input id="Submit1" type="submit" value="上傳檔案" />
    </form>
    <div> 
    </div>
</body>
</html>
